/* body{
    background-color: red;
} */

.navheight{
    height: 100px;
    background-color: white;
    z-index: 1;

}

.togglecollaspe{
    background-color: rgb(255, 255, 255);
    padding: 4px;
}

.rightnavfont{
    color: black!important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.leftnavfont{
    color: black;
    font-size: 1.9rem;
    /* font-weight: bold; */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lefttnav{
    width: 60%!important;
}

.rightnav{
    width: 40%!important;
}


.active{
    color: rgb(78, 78, 78);
 }


/* Home */


.homecardalign{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.homecard{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    border: none;
}

@media (max-width : 500px) {
    .homecard{
        width: 420px;
    }   
}

@media (max-width : 420px) {
    .homecard{
        width: 350px;
    }   
}

@media (max-width : 300px) {
    .homecard{
        width: 200px;
    }   
}
@media (max-width : 200px) {
    .homecard{
        width: 10px;
    }   
}

.homecardbody{
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 2rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.hmebtn{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.btnhomestyle{
    border: black 2px solid;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btnhomestyles{
    border: black 2px solid;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.namestyle{
    color: black;
    font-size: 3rem;
}

.desstyle{
    color: black;
    font-size: 1.8rem;
}

.smiley {
    position: absolute;
    animation: bounce 2s infinite; 
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateX(0);
    }
    40% {
      transform: translateX(-20px);
    }
    60% {
      transform: translateX(-10px);
    }
  }



/* heading card    */

.headingcard{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: none;
    height: 110px;
    border-radius: 0px;
}

.headbody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    font-size: 2rem;
}


/* project card  */

.projectcardsize{
    width: 350px;
    border-radius: 0px;
}

.projectcardsize:hover{
   box-shadow:  2px 2px 5px black;
}

.cardbody{
    height: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.projecttit{
    color: black;
    font-size: 1.7rem;
}

.tech{
    color :black;
    font-size: 1rem;
}

.git{
    color: black;
}

.imgsize{
    height: 190px;
}

.demo{
    margin-left: 260px;
    text-decoration: none;
}

/* .imgsize:hover{
    transform: scale(1.1);
} */


/* about card  */

.abtsty{
    width: 900px;
}

.imgheight{
    height: 420px;
}

@media (max-width : 1041px)
{
    .abtsty{
        width: 300px;
    }
    .imgheight{
        height: 250px;
    }
}

.abtpara{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

.abtparali{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
}


/* contact */

.icons{
    height: 60px;
    width: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative
}

/* @media (max-width : 400px)
{
    .icons{
        height: 30px;
        width: 30px;
    }
}


@media (max-width : 900px)
{
    .icons{
        height: 50px!important;
        width: 50px!important;
    }
}

@media (max-width : 990px)
{
    .icons{
        height: 50px!important;
        width: 50px!important;
        position: fixed;
    }
} */

.contactbody{
    height: 90px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media(max-width : 1200px)
{
    .contactbody{
        height: 170px;
    }
}

.contactbody:hover{
    color: rgb(126, 123, 123);
}

.contentcard{
    border: none;
}

.contactrow{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}


.contacttitle{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

.icon-box{
    border-radius: 50%;
    background-color: black;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease-in-out;
}

.icon-box:hover {
   box-shadow: -1px 1px 8px 8px rgb(171, 171, 171);;
  }



.iconss{
    color: white;
}

.alignicons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

/* Education  */
.cardalignedu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.educard{
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.educard:hover{
    color: rgb(70, 69, 68);
}



.navclr{
    color: rgb(63, 63, 63);
}
.navclr:hover{
    color:rgb(63, 63, 63) ;
}


/* Experience  */

.text{
    line-height: 0.5rem!important;
    color: black;
}

.titles{
    font-weight: bold;
}

.expe:hover{
    background-color: rgb(179, 175, 175);
}

a{
    color: black;
}


/* Footer  */

.svgs{
    position: absolute;
    bottom: 0;
    left: 0;
}


@media (max-width:1000px){
    .svgs{
        position: fixed;
    }
}


.footercontent{
    color: white;
    position: absolute;
    bottom: 0;
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  
